@{
    ViewBag.Title = "Home Page";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2 border-bottom">
    <h1 class="h3">Inicio</h1>
</div>
<div class="container col-xxl-8 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="@Url.Content("~/Content/Template/images/cip.png")" class="d-block mx-lg-auto img-fluid" alt="CIP Logo" width="350" height="250" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Colegio de Ingenieros del Perú</h1>
            <p class="lead">Registro de postulantes a la orden, según especialidades.</p>
        </div>
    </div>
</div>